@import "variables";

/**
 * Base styles
 */
* {
	box-sizing: border-box;
}

html {
	background: $main-bg-color;
	color: $main-text-color;
	font-size: $font-size;
	line-height: 1.4;
}

@media screen and (min-width: $break-point-medium) {

	html {
		font-size: $font-size-desktop;
	}

}

body {
	padding: 0;
	margin: 0;
}

address {
	font-style: normal;
}

code,
pre {
	font-family: $font-family-monospace;
}

@supports (grid-gap: 1em) {

	figure {
		margin: 0;
	}

}

figcaption {
	color: $content-meta-color;
	font-style: italic;
	font-size: 75%;
	line-height: 1.25;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
	hyphens: auto;
	word-break: break-word;
}

img,
svg,
video {
	display: block;
	height: auto;
	max-width: 100%;
}

li {
	line-height: 2;
}

@media screen and (min-width: $break-point-medium) {

	li {
		line-height: 1.4;
	}

}

pre {
	overflow-x: auto;

	code {
		display: block;
		color: $main-link-color-hover;
		background: $main-bg-color;
		padding: 0.5em 1em;
	}
}

th {
	text-align: left;
}

/* Fix touch for IE */
svg {
	pointer-events: none;
}
