/* vollkorn-700italic - latin */
@font-face {
	font-display: swap;
	font-family: Vollkorn;
	font-style: italic;
	font-weight: 700;
	src:
		url('../fonts/vollkorn-v8-latin-700italic.woff2') format('woff2'),
		url('../fonts/vollkorn-v8-latin-700italic.woff') format('woff');
}
