/**
 * Variables
 */

/* Abstraction Blue by Georgia O'Keeffe #0E122D #182044 #51628E #91A1BA #AFD0C9 http://colorlisa.com/ */
$main-text-color: #fff;
$main-link-color: #51628e;
$main-link-color-hover: #afd0c9;
$main-bg-color: #0e122d;
$image-bg-color: #eff0f2;
$content-text-color: $main-bg-color;
$content-heading-color: #91a1ba;
$content-bg-color: #fff;
$content-preload-color: #eee;
$content-max-width: 1144px;
$content-padding: 48px;
$mobile-padding: 15px;
$content-meta-color: #555;
$font-family-default: Source Sans Pro, Open Sans, Calibri, Optima, -apple-system, BlinkMacSystemFont, sans-serif;
$font-family-heading: Vollkorn, serif;
$font-family-heading-style: italic;
$font-family-heading-weight: 700;
$font-family-monospace: Source Code Pro, Andale Mono, Inconsolata, monospace;
$font-size: 18px;
$font-size-desktop: 22px;
$form-text-color: $main-bg-color;
$form-bg-color: #f7f7f7;
$form-bg-color-focus: #fbfbfb;
$form-border-main: 1px solid $content-bg-color;
$form-border-content: 1px solid $main-link-color;
$form-border-radius: 3px;
$button-text-color: $main-text-color;
$button-bg-color: $main-link-color;
$button-border-color: rgba(255, 255, 255, 0.6);
$button-padding: 0 2em;
$header-height: 200px;
$header-height-desktop: 400px;
$header-max-height: 67vh;
$error-text:#500;
$error-bg-color: #fcc;

/*
Breakpoints:
- 1921px: larger than fullHD screen size
- 1174px: maximum content width 4 x 256px tiles, 3 x 40px gaps, 2 x 15px margin
- 878px:  3 x 256px (tiles), 2x40px (gaps), 2 x 15px margin
- 582px:  2 x 256px (tiles), 1x40px (gaps), 2 x 15px margin
*/
$break-point-xlarge: 1921px;
$break-point-large: 1174px;
$break-point-medium: 878px;
$break-point-small: 582px;
