/**
 * Standard WordPress classes
 */

.alignleft {
	float: left;
	margin-right: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.widget h4 {
	margin-bottom: 0;
}

.gallery {
	display: grid;
	grid-gap: 1em;
}

.gallery-columns-2 {
	grid-template-columns: 1fr 1fr;
}

.gallery-columns-3 {
	grid-template-columns: 1fr 1fr 1fr;
}
