@import 'variables';

.articles {
	align-content: flex-start;
	align-items: stretch;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.theme-content--main article {
	display: inline-block;
	margin: 0 40px 40px 0;
	width: 256px;
}

@supports (grid-template-columns: repeat(auto-fit, minmax(256px, 1fr))) {

	.articles {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
		grid-gap: 40px;
		max-width: 100%;
	}

	@media screen and (min-width: $break-point-large) {

		.articles {
			max-width: $content-max-width;
		}

	}

	@media screen and (min-width: $break-point-xlarge) {

		.articles {
			max-width: none;
		}

	}

	.theme-content--main article {
		margin: 0;
		width: 100%;
	}

	@media screen and (min-width: $break-point-medium) {

		.theme-content--main article {
			max-width: 315px;
		}

	}

}

.excerpt__more {
	display: inline;
}

.excerpt {
	background: $content-bg-color;
	position: relative;
	overflow: hidden;
}

@supports(mask-size: contain) {

	.articles {
		article {
			border-radius: .5em;
			mask-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 26.458 26.458%22%3E%3Cpath d=%22M.155 10.542c-.034 3.177-.102 9.53 1.916 12.67 2.018 3.141 6.122 3.067 10.613 3.08 4.492.014 9.37.114 11.657-1.873 2.286-1.986 1.98-6.059 1.614-10.11-.366-4.051-.793-8.082-1.13-10.387-.337-2.305-.585-2.884-1.699-3.242-1.114-.359-3.095-.496-7.02-.493C12.18.19 6.312.332 3.336 1.551.357 2.771.273 5.068.231 6.217.19 7.365.19 7.365.155 10.542z%22/%3E%3C/svg%3E');
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: left bottom;

			&:nth-child(2n) {
				mask-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 26.458 26.458%22%3E%3Cpath d=%22M5.75.463C4.71.54 2.63.694 1.574 1.955.52 3.215.492 5.58.31 9.796c-.18 4.215-.515 10.278.653 13.326 1.169 3.049 3.84 3.083 6.604 3.127 2.763.044 5.619.099 8.098.11 2.479.012 4.57-.02 6.381-.074 1.81-.055 3.304-.133 3.965-4.348.66-4.215.48-12.565-.054-16.903C25.425.696 24.54.37 22.048.21c-2.493-.16-6.592-.158-9.402-.1C9.835.164 8.312.275 7.55.33L5.749.463z%22/%3E%3C/svg%3E');
				left: 21px;
				top: 32px;
			}

			&:nth-child(3n) {
				mask-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 26.458 26.458%22%3E%3Cpath d=%22M.066 20.186c-.045 1.457-.134 4.37 1.425 5.534 1.56 1.165 4.768.58 9.283.42 4.516-.161 10.337.102 13.09.247 2.753.145 2.437.171 2.452-4.08.016-4.252.364-12.782-.213-17.241-.577-4.46-2.079-4.85-4.665-4.853-2.587-.003-6.259.382-9.979.295C7.74.421 3.973-.137 2.084.145.194.426.184 1.549.169 4.786.153 8.024.132 13.376.12 16.053c-.01 2.676-.01 2.676-.055 4.133z%22/%3E%3C/svg%3E');
				left: 9px;
				top: -9px;
			}

			&:nth-child(4n) {
				left: 12px;
				top: 7px;
			}

			&:nth-child(5n) {
				mask-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 26.458 26.458%22%3E%3Cpath d=%22M.145 18.026c.05 3.021.103 5.798 1.033 7.152.93 1.354 2.737 1.286 7.6 1.19 4.863-.094 12.78-.215 15.673-1.701 2.892-1.486.759-4.336.437-7.518-.32-3.183 1.17-6.697 1.323-9.534.152-2.837-1.033-4.997-2.64-6.16C21.965.29 19.936.12 17.8.068a39.54 39.54 0 0 0-7.336.463C7.508.985 3.84 1.828 1.978 3.216.116 4.604.058 6.538.053 9.138c-.006 2.6.042 5.866.092 8.888z%22/%3E%3C/svg%3E');
				left: 27px;
				top: 6px;
			}

			&:nth-child(6n) {
				left: -4px;
				top: -4px;
			}

			&:nth-child(7n) {
				left: 21px;
				top: 39px;
			}

			&:hover {
				mask-image: none;
			}
		}
	}

}

@media only screen and (min-width: $break-point-large) {

	.articles {
		article {
			margin-left: -10px;
		}
	}

}

@media only screen and (max-width: $break-point-small) {

	.theme-content--main {
		overflow-x: hidden;
	}

}

.excerpt:hover .branded-overlay:before {
	opacity: 0;
}

.excerpt__title {
	font-size: 1em;
	margin: 0;
	padding: 0 20px 20px;
}

.excerpt__title a:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.excerpt__date {
	color: $content-meta-color;
	font-size: 0.8em;
	margin: 0;
	padding: 10px 20px 0;
}
