@import "variables";

/**
 * Forms
 */
input,
textarea,
select,
option {
	border: $form-border-content;
	border-radius: $form-border-radius;
	font-family: $font-family-default;
	padding: 0 10px;
}

button,
input,
textarea,
select {
	color: $content-text-color;
	background-color: $form-bg-color;
	outline: none;
}

input,
textarea {
	box-shadow: inset 3px 3px 5px #ddd;
	width: 100%;
}

button,
input[type="submit"] {
	background-color: $button-bg-color;
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.3));
	border: 1px solid $button-border-color;
	box-shadow: none;
	color: $main-text-color;
	display: block;
	margin: 2em 0 0.5em;
	padding: $button-padding;
	text-align: center;
	width: auto;
}

input,
select {
	height: 55px;
}

textarea {
	padding: 10px;
}

select {
	padding-right: 0;
}

@supports (appearance:none) or (-webkit-appearance:none) {

	select {
		appearance: none;
		box-shadow: none;
		background-image:
			url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M4.516%207.548c0.436-0.446%201.043-0.481%201.576%200l3.908%203.747%203.908-3.747c0.533-0.481%201.141-0.446%201.574%200%200.436%200.445%200.408%201.197%200%201.615-0.406%200.418-4.695%204.502-4.695%204.502-0.217%200.223-0.502%200.335-0.787%200.335s-0.57-0.112-0.789-0.335c0%200-4.287-4.084-4.695-4.502s-0.436-1.17%200-1.615z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E),
			linear-gradient(transparent, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0.1));
		background-position: calc(100% - 5px) 50%, 100%;
		background-repeat: no-repeat, repeat-x;
		background-size: 32px, 100%;
		padding-right: 48px;
	}

}

button:focus,
input:focus,
textarea:focus,
select:focus {
	border-color: $main-link-color-hover !important;
}

input:not([type="submit"]):focus,
textarea:focus {
	background-color: $form-bg-color-focus;
	box-shadow: 3px 3px 5px #ddd;
}

button:disabled,
input[type="submit"]:disabled {
	background-color: $error-bg-color;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) 40%, transparent);
	border-color: $error-text;
	color: $error-text;
}

.search-form {

	input[type="text"] {
		float: left;
		width: calc(100% - 10em);
		margin: 0 2em 0 -10px;

		&:focus {
			border-color: $content-heading-color !important;
		}
	}

	input[type="submit"] {
		float: left;
		margin: 0;
		width: 8em;
	}
}

.search-form::after {
	clear: both;
	content: "";
	display: block;
	margin-bottom: 2em;
}

@keyframes spin {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}

}

div.wpcf7 .ajax-loader {
	background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20stroke%3D%22%23999%22%20fill%3D%22%23999%22%3E%3Ctitle%3Eloading%3C%2Ftitle%3E%3Cpath%20d%3D%22M27.802%205.197c-2.925-3.194-7.13-5.197-11.803-5.197-8.837%200-16%207.163-16%2016h3c0-7.18%205.82-13%2013-13%203.844%200%207.298%201.669%209.678%204.322l-4.678%204.678h11v-11l-4.198%204.197z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M29%2016c0%207.18-5.82%2013-13%2013-3.844%200-7.298-1.669-9.678-4.322l4.678-4.678h-11v11l4.197-4.197c2.925%203.194%207.13%205.197%2011.803%205.197%208.837%200%2016-7.163%2016-16h-3z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

div.wpcf7 .ajax-loader.is-active {
	animation: spin 1s infinite linear;
}

.wpcf7-not-valid,
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
	background-color: $error-bg-color;
	border: 2px solid $error-text;
	color: $error-text;
	display: block;
	margin: 0.5em 0;
	padding: 0.25em 0.5em;
}

.wpcf7-not-valid:focus {
	background-color: $form-bg-color;
	border: 2px solid $error-text !important;
}

span.wpcf7-not-valid-tip {
	color: $error-text;
	display: block;
	font-weight: bold;
	margin: 0.5em 0;
}
