@import "variables";
@import "fonts";
@import "base";
@import "wordpress";

/**
 * Theme classes
 */
.site-container {
	background: $main-bg-color;
	font-family: $font-family-default;
	z-index: -2;
}

a {
	color: $main-link-color-hover;
	text-decoration-color: $main-link-color;
	text-decoration-skip-ink: auto;
}

a:hover,
a:active {
	text-decoration-color: $main-link-color-hover;
}

.hide {
	display: none !important;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.centered {
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.text-centered {
	text-align: center;
}

.blurred {
	filter: blur(10px);
}

@supports (opacity: 0.2) {
	.branded-overlay:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $main-bg-color;
		opacity: 0.2;
		z-index: 1;
		transition: opacity 300ms;
	}
}

.cover {
	position: absolute;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
}

.cover--bottom {
	bottom: 0;
}

@supports (transform: translate(-50%, -50%)) {

	.cover {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.cover--bottom {
		top: auto;
		transform: translate(-50%, 0%);
	}

}

.ratio-16-to-9:after {
	content: "";
	display: block;
	padding-top: 56.25%;
}

.swiper-slide--fallback {
	background: #d7d6db;
}

.swiper-slide img:not(:first-child).swiper-lazy {
	opacity: 0;
}

.swiper-slide img:not(:first-child).lazyloaded {
	opacity: 1;
}

.minimal-list,
.site-footer__column ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.minimal-list li,
.site-footer__column li {
	margin: 0;
	padding: 0;
}

/**
 * Header
 */
.site-header {
	color: $main-text-color;
	height: $header-height;
	max-height: $header-max-height;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.site-header a,
.site-header a:visited {
	color: $main-link-color-hover;
	text-decoration: none;
}

.site-header a:hover,
.site-header a:active {
	color: $main-text-color;
}

.site-header__logo {
	font-family: $font-family-heading;
	font-style: $font-family-heading-style;
	font-weight: $font-family-heading-weight;
	hyphens: auto;
	word-break: break-all;
}

.site-header__tagline.site-header__logo {
	color: $main-link-color-hover;
}

.site-header .swiper-container {
	opacity: 0.7;
	z-index: -1;
}

.site-header__image {
	overflow: hidden;
	position: absolute;
	width: 100%;
	background: $image-bg-color;
}

.site-header__image ul,
.swiper-wrapper {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-header__image li {
	height: $header-height;
	margin: 0;
	max-height: $header-max-height;
	padding: 0;
}

.site-header__content {
	font-size: 36px;
	height: 100%;
	line-height: 1.1;
	margin: 0 auto;
	text-align: center;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.8), 2px 2px 3px rgba(0, 0, 0, 0.5);
	width: 100%;
	z-index: 2;
}

.site-header__content:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $main-bg-color;
	z-index: -2;
}

.site-header__content > div {
	margin: 0 auto;
	max-width: calc(100% - 1em);
}

.site-header__content > .site-header__tagline {
	margin-top: 0.25em;
	font-size: 75%;
}

@media screen and (min-width: $break-point-medium) {

	.site-header__content > .site-header__tagline {
		margin-top: 0.5em;
	}

}

@media screen and (min-width: $break-point-medium) {

	.site-header,
	.site-header__image li {
		height: $header-height-desktop;
	}

	.site-header__content {
		font-size: 250%;
	}

}

/**
 * Breadcrumbs
 */
.breadcrumbs {
	background-color: $content-heading-color;

	ul {
		list-style: none;
		margin: 0 auto;
		max-width: $content-max-width;
		padding: 0;
	
		ul {
			display: inline-block;
	
			&:before {
				content: "›";
				display: inline-block;
				padding-left: 1em;
			}
		}
	}
	
	li {
		display: inline-block;
		margin: 0;
		padding: 0;

		li {
			margin: 0 1em;
		}
	}

	a {
		color: $main-text-color;
		text-decoration-color: $main-text-color;

		&:hover,
		&:active {
			color: $main-bg-color;
			text-decoration-color: $main-bg-color;
		}
	}

	&.breadcrumbs {
		padding: 1em $mobile-padding;
	}
}

/**
 * Footer
 */
.site-footer p {
	margin-top: 0;
}

.site-footer h2 {
	font-size: 36px;
	margin-bottom: 70px;
}

@media screen and (min-width: $break-point-medium) {

	.site-footer {
		margin: 0 auto;
	}

	.site-footer > div {
		align-content: stretch;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.site-footer__column {
		margin-right: 2em;
	}

	.site-footer__column:last-child {
		margin-right: 0;
		text-align: right;
	}

}

/**
 * Pagination
 */
.pagination-container {
	margin-top: -1px;
}

.pagination {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: $content-max-width;
	padding: 0 $mobile-padding $content-padding;
}

@media screen and (min-width: $break-point-large) {

	.pagination {
		padding: 0 0 $content-padding;
	}

}

@media screen and (min-width: $break-point-xlarge) {

	.pagination {
		max-width: none;
		text-align: center;
	}

}

.pagination > a {
	display: inline-block;
}

.blog .pagination a {
	color: $content-text-color;
	text-decoration-color: $content-text-color;

	&:hover {
		color: $main-link-color;
		text-decoration-color: $main-link-color;
	}
}

.pagination .prev {
	padding-right: 1em;
}

.pagination .next {
	padding-left: 1em;
}

.pagination ul {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.pagination li {
	display: inline;
	margin: 0;
	padding: 0 0.5em 0 0;
}

.pagination li:last-child {
	padding: 0;
}

/**
 * Content
 */
.theme-content {
	padding: $content-padding $mobile-padding;
}

.theme-content > * {
	margin-left: auto;
	margin-right: auto;
	max-width: $content-max-width;
}

.theme-content--main {
	color: $content-text-color;
	background: $content-bg-color;
}

.theme-content--main:after {
	clear: both;
	content: "";
	display: block;
}

.archive .theme-content--main,
.blog .theme-content--main,
.category .theme-content--main,
.search .theme-content--main {
	background: $main-link-color-hover;
}

.theme-content--main a {
	color: $main-link-color;
	text-decoration-color: $main-link-color-hover;
}

.theme-content--main a:active,
.theme-content--main a:hover {
	text-decoration-color: $main-link-color;
}

.theme-content h1,
.theme-content h2,
.theme-content h3 {
	color: $content-heading-color;
	font-weight: normal;
	margin-bottom: 0;
}

.theme-content h1:first-child,
.theme-content h2:first-child,
.theme-content h3:first-child,
.theme-content h4:first-child {
	margin-top: 0;
}

/**
 * Posts
 */
.post__thumbnail {
	background: $image-bg-color;
	position: relative;
	overflow: hidden;
}

.post__title,
.post__title h1,
.theme-content--main .post__title {
	margin-bottom: 0;
}

.post__meta,
.theme-content > .post__meta {
	color: $content-meta-color;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: $content-padding;
}
