<div class="site-header__image branded-overlay swiper-container">
	<ul class="swiper-wrapper">
	{% for image in slider_images %}
		{% set timberImage = Image(image.attachment_id) %}
		<li class="swiper-slide">
			<img src="{{ image.url|e('html_attr') }}"
				srcset="{{ timberImage|resize(1920) }} 1920w, {{ timberImage|resize(1024) }} 1024w, {{ timberImage|resize(512) }} 512w"
				sizes="100vw"
				class="cover"
			{% if image.dominant_color %}
				style="background-color: {{ image.dominant_color|e('html_attr') }}"
			{% endif %}
				alt="{{ image.alt_text|e('html_attr') }}">
	{% else %}
		<li class="swiper-slide swiper-slide--fallback">
			<img src="{{ theme.path }}/images/federica-galli-449563-1920x1080.jpg" srcset="{{ theme.path }}/images/federica-galli-449563-256x144.jpg 256w,{{ theme.path }}/images/federica-galli-449563-512x288.jpg 512w, {{ theme.path }}/images/federica-galli-449563-1024x576.jpg 1024w, {{ theme.path }}/images/federica-galli-449563-1920x1080.jpg 1920w" alt="" sizes="100vw" alt="" class="swiper-lazy cover cover--bottom">
	{% endfor %}
	</ul>
</div>
