{# menu.twig #}
{% if menu %}
  <ul>
  {% for item in menu %}
    <li class="{{ item.classes|join(' ') }}">
    <a href="{{ item.link }}">{{ item.title }}</a>
        {% include "components/menu.twig" with {'menu': item.get_children} %}
    </li>
  {% endfor %}
  </ul>
{% endif %}
