{# pagination.twig #}
<div class="pagination">
	{% if pagination.prev %}
		<a href="{{ pagination.prev.link }}" class="prev {{ pagination.prev.link|length ? '' : 'invisible' }}">{{ __('Newer posts', theme.textdomain) }}</a>
	{% endif %}
	<ul class="pages">
		{% for page in pagination.pages %}
			<li>
				{% if page.link %}
					<a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
				{% else %}
					<span class="{{ page.class }}">{{page.title}}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% if pagination.next %}
		<a href="{{ pagination.next.link }}" class="next {{ pagination.next.link|length ? '' : 'invisible' }}">{{ __('Older posts', theme.textdomain) }}</a>
	{% endif %}
</div>
