<header class="site-header">
	{% include 'views/components/header-slider.twig' %}
	<div class="site-header__content centered">
		<div class="site-header__logo" aria-hidden="true">{{ post.title }}</div>
		<div class="site-header__tagline site-header__logo"><a href="{{ site.url }}">{{ site.title }}</a></div>
	</div>
</header>
