{# thumbnail.twig #}
{% spaceless %}
{% if image %}
	<img src='{{ image|resize(256) }}' srcset='{{ image|resize(256) }} 256w, {{ image|resize(512) }} 512w, {{ image|resize(1024) }} 1024w' sizes='(min-width: 1174px) 256px, (min-width: 878px) 33vw, (min-width: 582px) 50vw, 95vw' width='256' height='144' alt='{{ image.alt|e('html_attr') }}' class='cover'{% if image.dominant_color %} style='background-color: {{ image.dominant_color|e('html_attr') }}'{% endif %} lazyloading loading='lazy'>
{% else %}
	<img src='{{ theme.path }}/images/federica-galli-449563-256x144.jpg' srcset='{{ theme.path }}/images/federica-galli-449563-256x144.jpg 256w, {{ theme.path }}/images/federica-galli-449563-512x288.jpg 512w, {{ theme.path }}/images/federica-galli-449563-1024x576.jpg 1024w' sizes='(min-width: 1174px) 256px, (min-width: 878px) 33vw, (min-width: 582px) 50vw, 95vw' width='256' height='144' alt='' class='cover' lazyloading loading='lazy'>
{% endif %}
{% endspaceless %}
