{# index.twig #}
<!DOCTYPE html>
<html {{ site.language_attributes }}>
	<meta charset="{{ site.charset }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preload" href="{{ theme.link }}/fonts/vollkorn-v8-latin-700italic.woff2" as="font" type="font/woff2" crossorigin>
	{{ function('wp_head') }}
	{{ head_js }}
	<body class="{{ body_class }}" itemscope itemtype="http://schema.org/WebPage">

	<div class="site-container">

	{% block header %}
	<header class="site-header">
		{% include 'views/components/header-slider.twig' %}
		<div class="site-header__content centered">
			<div class="site-header__logo"><a class="site-link" href="{{ site.url }}">{{ site.name }}</a></div>
			<div class="site-header__tagline">{{ site.description }}</div>
		</div>
	</header>
	{% endblock %}

	{% block content %}
	<div class="theme-content theme-content--main">
		{% if search_form %}
		<section id="search-form" class="search-form" role="search">
			<form action="{{ site.url }}" method="get">
			<label for="search-input" class="screen-reader-text">Search terms</label>
			<input type="text" id="search-input" name="s" value="{{ search_query|e('html_attr') }}">
			<input type="submit" value="Search">
			</form>
		</section>
		{% endif %}
		<div class="articles">
		{% for post in posts %}
		<article id="post-{{ post.ID }}" class="excerpt {{ post.post_type }}-excerpt">
			<div class="post__thumbnail branded-overlay ratio-16-to-9">
				{% include 'components/thumbnail.twig' with {'image': post.thumbnail} %}</noscript>
			</div>
			<div class="excerpt__date"><time itemprop="startDate" datetime="{{ post.date('c') }}">{{ post.date }}</time></div>
			<h2 class="excerpt__title" id="post-{{ post.ID }}-title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
		</article>
		{% endfor %}
		</div>
	</div>
	{% endblock %}

	{% block pagination %}
	{% if pagination %}
	<nav class="pagination-container theme-content--main">
		{% include 'views/components/pagination.twig' %}
	</nav>
	{% endif %}
	{% endblock %}

	{% block breadcrumbs %}{% endblock %}

	{% block footer %}
	<footer class="site-footer theme-content">
		<div class="site-footer__column-container">
			<div class="site-footer__column">
				{{ widget_footer_1 }}
			</div>
			<div class="site-footer__column">
				{{ widget_footer_2 }}

				{% block footerlinks %}
				<ul class="minimal-list">
					<li><a href="/imprint/" rel="nofollow">Imprint</a>
					<li><a href="/privacy/" rel="nofollow">Privacy</a>
					<li>&copy; <a href="{{ copyright_holder.url }}" itemprop="copyrightHolder" rel="me">{{ copyright_holder.name }}</a>
				</ul>
				{% endblock %}
			</div>
		</div>
	</footer>
	{% endblock %}

	</div><!-- .site-container -->

{{ function('wp_footer') }}
