{# search.twig #}
{% extends "index.twig" %}

{% block header %}
	{% include 'views/components/singular-header.twig' %}
{% endblock %}

{% block breadcrumbs %}
	{% include 'views/components/breadcrumbs.twig' %}
{% endblock %}
