{# singular.twig #}
{% extends "index.twig" %}

{% block header %}
	{% include 'views/components/singular-header.twig' %}
{% endblock %}

{% block content %}
	<div id="page-content" class="theme-content theme-content--main">
		<main class="post-{{ post.ID }} {{ post.post_type }}">
			<h1 class="post__title screen-reader-text">{{ post.title }}</h1>
			<div class="post__content">
			{{post.content}}
			</div>
		</main>
	</div>
{% endblock %}

{% block breadcrumbs %}
	{% include 'views/components/breadcrumbs.twig' %}
{% endblock %}
