{# single.twig #}
{% extends "index.twig" %}

{% block header %}
	{% include 'views/components/singular-header.twig' %}
{% endblock %}

{% block content %}
	<main id="page-content" class="post-{{ post.ID }} {{ post.post_type }}">
		<div class="theme-content theme-content--main">
			<div class="post__title"><h1>{{ post.title }}</h1></div>
			<div class="post__meta">
				<div class="post__author hide" itemprop="author">{{ post.author }}</div>
				<div class="post__date"><time datetime="{{ post.date('c') }}">{{ post.date }}</time></div>
			</div>
			<div class="post__content">
			{{post.content}}
			</div>
		</div>
	</main>
{% endblock %}

{% block breadcrumbs %}
	{% include 'views/components/breadcrumbs.twig' %}
{% endblock %}
